# Set default values for all following accounts.
defaults
port 587
tls on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile /home/{{ user }}/.msmtp.log

account gmail
host smtp.gmail.com
from {{ fromEmailAddress }}
auth on
user {{ gmailUsername }}
password {{ gmailPassword }}

# Set a default account
account default : gmail